# --- SECURITATE (Cel mai important) ---
.env
.env.local
.env.*.local

# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class
# Virtual Environments (Folderul unde se instaleaza librariile python)
venv/
.venv/
env/

# --- NODE.JS / FRONTEND (CRITIC!) ---
# Daca nu pui asta, vei urca mii de fisiere inutile pe net
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- BUILD OUTPUT ---
# Fisierele generate automat cand faci build la frontend
dist/
build/

# --- IDE & EDITOR ---
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?